*{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
}
.container span{
    font-size: 3rem;
}
.button{
padding-top: 20px;
}
button{
    padding:5px;
}